@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzE5d2x6YmEzM3M1bHZ4dDFnNWQzazFqdG94Y291c3ptZXkycDZzMiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/l5JbspfwZ0yjHjlJ0K/giphy.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#clock {
    font-size: 94px;
    font-family: Poppins;
    text-align: center;
    padding: 20px 40px;
    border: 6px solid #fff;
    width: 440px;
    color: #fff;
    border-radius: 30px;
}

.box {
    margin-top: 16%;
    display: flex;
    justify-content: center;
}
